extends ./_layout
block vars
  -
    var title = 'Предзаказ Iphone 8 - Купи Айфон 8 В Юлмарт';

    var desc = 'Старт продаж Apple Iphone 8! Сделай Предзаказ на новый флагман Iphone 8 Первым!';

    var URL = "./img/";

    var ROOT = 'https://www.ulmart.ru';

    var SRC = './';


//- PRODUCTION
block content

  .layout__center__wrapper--project
    header.header__wrap
      .container
        +header-logo()
    section.subheader__wrap
      .container
        img.subheader__logo(src=`${URL + 'logo-iphone8' + '.png'}`, alt="logo")
        .subheader__text--wrap
          h2.subheader__text--title  Скоро в продаже
          //- p.subheader__text--desc  Оформи предзаказ прямо сейчас
          img(src=`${URL + '1' + '.png'}`, alt="" )
          p.subheader__text--desc.subheader__text--desc__padding  Долгожданная новость для фанатов «яблочных» технологий: компания Apple объявила о выпуске новой модели — iPhone&nbsp;8. Дата выхода нового смартфона запланирована на&nbsp;22&nbsp;сентября. Презентация последней модели состоялась 12&nbsp;сентября, а продажи iPhone 8&nbsp;стартуют 29&nbsp;сентября. Итак, предмет этого обзора — iPhone 8, дата выхода, фото и цена.
          //- +a({"href":`${ROOT}`, "class":"subheader__btn subheader__btn--dark"}) Оформить предзаказ

    section.date__wrap
      .container
        h2.subheader__text--title  Дата выхода iPhone 8
        p.subheader__text--desc Предзаказ с&nbsp;22.09 &nbsp;&nbsp;&nbsp;В продаже с&nbsp;29.09
        p.date__text--desc На стадии доработки iPhone 8 и iPhone 8 Plus у компании возникали технические сложности, не будь которых новый гаджет появился бы у нас ещё летом. Впрочем, некоторые из них не решены до сих пор, поэтому презентация нового смартфона не открыла сезон продаж iPhone 8. Однако официальный представитель компании Apple озвучил дату появления нового Айфон в&nbsp;магазинах. Разумеется, дата выхода iPhone 8 в России не совпадёт с мировой, но, во всяком случае, россияне могут быть уверены: ещё до Нового года все желающие смогут его приобрести.
        .date__timer--title До старта продаж iPhone 8 осталось:
        .date__timer
            ul.countdown
              li
                span.days 00
                p.days_ref days
              li.seperator .
              li
                span.hours 00
                p.hours_ref hours
              li.seperator :
              li
                span.minutes 00
                p.minutes_ref minutes
              li.seperator :
              li
                span.seconds 00
                p.seconds_ref seconds
      img(src=`${URL + '2' + '.jpg'}`, alt="" )
    section.features__wrap
      .container
          p.features__text--desc iPhone 8. Интеллект под стеклом.
          h2.subheader__text--title Характеристики iPhone 8
          img.features__img(src=`${URL + '3' + '.png'}`, alt="" )
          p.date__text--desc.date__text--desc__padding Главное отличие этой модели от предшественников — использование в конструкции гибкой матрицы OLED. Это первый смартфон, который выходит с подобным технологическим решением. По задумке конструкторов, это улучшит характеристики, связанные с повышением качества изображения, энергосбережением и производительностью. Также из обновлений, которые заставляют сделать предзаказ Айфон 8, стоит отметить беспроводное зарядное устройство дальнего действия, встроенный сканер отпечатков пальцев, шестиядерный процессор Apple A11 Bionic, улучшенные видеокамеры, водонепроницаемый корпус и другие фишки.
    section.price__wrap
      .container
        h2.subheader__text--title  Цена iPhone 8
        p.date__text--desc Разумеется, Apple iPhone 8, дата выхода которого уже известна, будет недешёвым, особенно в первый год продаж. Учитывая, что в США цены на него составят от 699 до 949 долларов, а в Японии — до 120 000 иен, в России любая предложенная за iPhone 8 цена меньше 80 000 рублей будет чрезвычайно выгодной. Стоимость складывается из затрат на производство и рекламу, а ещё она зависит от спроса на товар. И у экспертов нет повода сомневаться в том, что гаджет с таким набором обновлений и новых технологий публика не обойдёт вниманием. Поэтому, интересуясь, сколько стоит iPhone 8, имейте это в виду.

        img.price__img(src=`${URL + '4' + '.png'}`, alt="" )
    section.form__wrap#form
      .container
        h2.form__title Оформите предзаказ на iPhone 8
        .date__timer--title Предзаказ станет доступен через:
        .date__timer
            ul.countdown2
              li
                span.days 00
                p.days_ref days
              li.seperator .
              li
                span.hours 00
                p.hours_ref hours
              li.seperator :
              li
                span.minutes 00
                p.minutes_ref minutes
              li.seperator :
              li
                span.seconds 00
                p.seconds_ref seconds
        .form__goods--wrap
          .row
            .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-lg-offset-3.col-md-offset-3
              p.form__goods--title iPhone 8
              .form__goods--img
                img(src=`${URL + '5' + '.png'}`, alt="" )
              .form__goods--color--wrap
                span.form__goods--color.form__goods--color--silver
                span.form__goods--color.form__goods--color--black
                span.form__goods--color.form__goods--color--gold
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
              p.form__goods--title iPhone 8 Plus
              .form__goods--img
                img(src=`${URL + '6' + '.png'}`, alt="" )
              .form__goods--color--wrap
                span.form__goods--color.form__goods--color--silver
                span.form__goods--color.form__goods--color--black
                span.form__goods--color.form__goods--color--gold
        //- p.form__text Период предзаказа 
        //-   span с 23.08.2017 по 21.09.2017
        //- form#form(action="https://docs.google.com/forms/d/e/1FAIpQLScXWaJCRq8L348PcHBcagCRq5B1BTvUntYDOwHkldfZI0pEQQ/formResponse" method="post")
        //-     .form-row
        //-       select(name="entry.1930519906")
        //-         option(value="SM-N950FZBDSER  4326047" class="form-option__one") Синий сапфир 
        //-         option(value="SM-N950FZKDSER 4326053" selected  class="form-option__two") Чёрный бриллиант
        //-         option(value="SM-N950FZDDSER 4326055" class="form-option__three") Жёлтый топаз
        //-       .form-price 
        //-         span Цена: 
        //-         | 69 990.-

        //-     .form-row
        //-       input(type="text" name="entry.2129265173" placeholder="Имя" title="Укажите Ваше имя" required)
        //-       input(type="text" name="entry.297283681" id="phone" placeholder="Телефон" title="Укажите Ваш телефон" required)
        //-       input(type="email" name="entry.2024392897" placeholder="E-mail" title="Укажите Ваш e-mail" required)
        //-       input(type="text" name="entry.1878440167" placeholder="Город" title="Укажите Ваш город" required)
        //-     .form-row
        //-       label(for="rules")
        //-         input(type="checkbox" id="rules" required)
        //-         span.label__text Я ознакомлен(а) 
        //-           +a({"href":"https://www.ulmart.ru/special_offers/current/Samsung_Galaxy_Note8_rules"}) с правилами предзаказа
        //-           |  и согласен на 
        //-           +a({"href":"https://www.ulmart.ru/special_offers/current/personal_data_samsung2016"}) обработку персональных данных
        //-     .form-row
        //-       input.form__btn(type="submit" value="Сделать предзаказ" name="submit")

    section.past__wrap
      .container
        h2.past--title Предыдущие модели стали дешевле
        //- p.past--desc Также вы можете приобрести предыдущие версии iphone
        +a({"href":`https://www.ulmart.ru/catalog/apple_iphone_2`, "class":"subheader__btn subheader__btn--dark"}) Выбрать iPhone
        img.past__img(src=`${URL + '7' + '.png'}`, alt="" )

    #toTop
    +footer()
      //- | Розничные цены , в&nbsp;т.&nbsp;ч. размер скидок, указаны в&nbsp;рублях с&nbsp;учётом НДС и&nbsp;действительны на&nbsp;__.__.2017.
